# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python files
*.pyc

# Images
image/image_*
image/odometry.txt

# QI-created files
src/build*

# Compiled tex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.dvi
*.nav
*.snm
*.pdf

CMakeCache.txt
CMakeFiles
